html {
	width: 100%;
	height: 100%;
}

h1 {
    font-size: 3.3rem;
}

.block {
    border: 1px solid #cecece;
    border-radius: 8px;
    min-height: 200px;
    /* flexbox not suppported on IE :3*/
    display: flex;
    align-items: center;
    justify-content: center;
}

// SPLASH SCREEN
.splash-screen {
    svg {
        display: inline-block;
    }
    .logo-gt, .logo-lt {
        width: 120px;
        height: 120px;
        opacity: 0;
    }
    .logo-x {
        width: 60px;
        height: 60px;
        margin-bottom: 30px;
        opacity: 0;
    }
    .logo {
        width: 300px;
        height: 120px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -60px;
        margin-left: -150px;
    }
}

.game-menu {
    width: 256px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -128px;
    text-align: center;
    z-index: 3;
    .game-title {
        font-size: 4rem;
        font-weight: bold;
        opacity: 0;
    }
    .button {
        width: 256px;
        padding: 20px;
        cursor: pointer;
        margin-top: 12px;
        border: 10px solid #333333;
        opacity: 0;
        opacity: 8px;
        &:hover {
            background-color: #FFA726;
        }
        .icon {
            width: 64px;
            height: 64px;
            margin: auto;
            display: block;
            color: #454545;
            margin-bottom: 18px;
        }
        .label {
            width: 100%;
            height: auto;
            font-size: 1.8rem;
            color: #222222;
        }
    }
}

.game-play {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px 20px 100px;

    .point {

    }
    .game-control {
        .lane-line {
            width: 100%;
            border: 1px dashed #444444;
        }
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
}
