extends ./layout/main-layout

var pageTitle = 'WELCOME PAGE'

block container
  h1 HELLO THERE! IM TEMPLATE
  .blocks
    .block.col-sm-4 IM BLOCK 1
    .block.col-sm-4 IM BLOCK 2
    .block.col-sm-4 IM BLOCK 3

